body {
    background-color: #eee;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 2vmin;
    display: block;
    width: 100vw;
    font-size: 6vmin;
    font-weight: bold;
    text-align: center;
}

#GameGrid {
    box-sizing: border-box;
    background-color: #000;
    width: 100vmin;
    height: 100vmin;
    margin: 4vmin auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4px;
    padding: 4px;
}

.card {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
}

.blue {
    background-color: rgb(30, 160, 255);
}

.red {
    background-color: rgb(255, 50, 50);
}

.neutral {
    background-color: rgb(250, 200, 100);
}

.black {
    background-color: rgb(50, 50, 50);
    border: 2px solid #333;
}
