* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.hidden {
    display: none !important;
}

#modal {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 3vmin;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    background-color: #333;
    text-transform: uppercase;
    color: #fff;
}

header>div {
    width: 100vmin;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

header h1 {
    font-size: 3vmin;
    margin: 1vmin 0;
    cursor: grab;
}

header .score {
    display: flex;
}

header .teams {
    font-size: 1.8vmin;
    padding: 1vmin;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams span {
    margin-left: 0.5vmin;
}

.segmented-toggle {
    position: relative;
    display: inline-flex;
    margin: 1vmin;
    font-size: 1.8vmin;
    width: 24vmin;
    background-color: #333;
    overflow: hidden;
}

#modeSwitch {
    border: 2px solid rgb(122, 122, 122);
}

#playerSwitch {
    border: 2px solid rgb(140, 185, 75);
}

.segmented-toggle input[type="radio"] {
    display: none;
}

.segmented-toggle label {
    cursor: pointer;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
    z-index: 2;
    color: #ccc;
}

.segmented-toggle .segmented-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 0.4s ease;
    z-index: 1;
}

#modeSwitch .segmented-bg {
    background-color: rgb(122, 122, 122);
}

#playerSwitch .segmented-bg {
    background-color: rgb(140, 185, 75);
}

.segmented-toggle :is(#optionCoop:checked, #optionRight:checked)~.segmented-bg {
    left: 50%;
}

.segmented-toggle :is(#optionNormal:checked, #optionLeft:checked)~.segmented-bg {
    left: 0;
}

.segmented-toggle :is(#optionCoop:checked ~ .coop-label,
    #optionNormal:checked ~ .normal-label,
    #optionLeft:checked ~ .left-label,
    #optionRight:checked ~ .right-label) {
    color: #fff;
}

#GameGrid {
    max-width: 100vmin;
    max-height: 100vmin;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2vmin;
    position: relative;
}

.card {
    border-radius: 10%;
    background-color: #fff;
    border-color: rgb(250, 200, 100);
    text-align: center;
    font-weight: bold;
    font-size: 3vmin;
    color: #333;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15vmin;
    height: 15vmin;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, border 0.5s;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.card:hover:not(:where(.blue, .red, .neutral, .black)) {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.blue {
    background-color: rgb(30, 160, 255);
    color: #FFF;
}

.red {
    background-color: rgb(255, 50, 50);
    color: #FFF;
}

.neutral {
    background-color: rgb(250, 200, 100);
    color: #333;
}

.neutral-border {
    border: 4px solid rgb(250, 200, 100);
}

.black {
    background-color: rgb(0, 0, 0);
    color: #FFF;
}

.green {
    background-color: rgb(140, 185, 75);
    color: #FFF;
}

.qrcode {
    box-sizing: border-box;
    display: flex;
    width: 80vmin;
    max-width: 400px;
    padding: 3vmin;
    z-index: 20;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.qrcode svg {
    width: 100% !important;
    height: auto !important;
}

#modal.invisible {
    display: none;
}