body {
    background-color: #eee;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

#modal {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    background-color: #333;
    text-transform: uppercase;
}

header > div {
    width: 100vmin;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
 header h1 {
     font-size: 2em;
     flex: 1;
     color: #CCC;
 }

 header .teams {
     text-align: right;
     font-size: 1.1em;
     padding: 0 10px;
     color: #DDD;
 }

#GameGrid {
    max-width: 100vmin;
    max-height: 100vmin;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2%;
    position: relative;
}

.card {
    /* border: 1px solid #ccc; */
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 3vmin;
    color: #666;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15vmin;
    box-shadow: 5px 5px 5px #ccc;
    transition: background-color 0.5s;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.blue {
    background-color: rgb(30, 160, 255);
}

.red {
    background-color: rgb(255, 50, 50);
}

.neutral {
    background-color: rgb(250, 200, 100);
}

.black {
    background-color: rgb(0, 0, 0);
}

#qrcode {
    width: 300px;
    height: 300px;
    padding: 40px;
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #333;
}

.invisible {
    display: none;
}
